In [68]:
import pandas as pd
import numpy as np

In [69]:
header_list = [
    "Surgery?", 
    "Age", 
    "Hospital_Number",
    "Rectal_temperature",
    "Pulse", 
    "Respiratory rate", 
    "Temperature_of_extremities", 
    "Peripheral_pulse",
    "Mucous_membranes",
    "Capillary_refill_time",
    "Pain",
    "Peristalsis",
    "Abdominal_distension",
    "Nasogastric_tube",
    "Nasogastric_reflux",
    "Nasogastric_reflux_PH",
    "Rectal_examination",
    "Abdomen",
    "Packed_cell_volume",
    "Total_protein",
    "Abdominocentesis_appearance",
    "Abdomcentesis_total_protein",
    "Outcome",
    "Surgical_lesion?",
    "type_of_lesion1",
    "type_of_lesion2",
    "type_of_lesion3",
    "Cp_data"
    
]

df = pd.read_csv('horse_data.csv', names=header_list, na_values = "?")
df.head()

,Surgery?,Age,Hospital_Number,Rectal_temperature,Pulse,Respiratory rate,Temperature_of_extremities,Peripheral_pulse,Mucous_membranes,Capillary_refill_time,...,Packed_cell_volume,Total_protein,Abdominocentesis_appearance,Abdomcentesis_total_protein,Outcome,Surgical_lesion?,type_of_lesion1,type_of_lesion2,type_of_lesion3,Cp_data
0,2.0,1,530101,38.5,66.0,28.0,3.0,3.0,NaN,2.0,...,45.0,8.4,NaN,NaN,2.0,2,11300,0,0,2
1,1.0,1,534817,39.2,88.0,20.0,NaN,NaN,4.0,1.0,...,50.0,85.0,2.0,2.0,3.0,2,2208,0,0,2
2,2.0,1,530334,38.3,40.0,24.0,1.0,1.0,3.0,1.0,...,33.0,6.7,NaN,NaN,1.0,2,0,0,0,1
3,1.0,9,5290409,39.1,164.0,84.0,4.0,1.0,6.0,2.0,...,48.0,7.2,3.0,5.3,2.0,1,2208,0,0,1
4,2.0,1,530255,37.3,104.0,35.0,NaN,NaN,6.0,2.0,...,74.0,7.4,NaN,NaN,2.0,2,4300,0,0,2

In [70]:
df_top = df.filter(items = ['Surgery?','Age','Rectal_temperature','Abdomen','Abdominocentesis_appearance','type_of_lesion1','type_of_lesion2','type_of_lesion3'])
df_top.head()

,Surgery?,Age,Rectal_temperature,Abdomen,Abdominocentesis_appearance,type_of_lesion1,type_of_lesion2,type_of_lesion3
0,2.0,1,38.5,5.0,NaN,11300,0,0
1,1.0,1,39.2,2.0,2.0,2208,0,0
2,2.0,1,38.3,1.0,NaN,0,0,0
3,1.0,9,39.1,NaN,3.0,2208,0,0
4,2.0,1,37.3,NaN,NaN,4300,0,0

In [71]:
for col in df_top.columns:
    
    pct_missing = df_top[col].isnull().mean()
    print(f'{col} - {pct_missing :.1%}')

Surgery? - 0.3%
Age - 0.0%
Rectal_temperature - 20.0%
Abdomen - 39.3%
Abdominocentesis_appearance - 55.0%
type_of_lesion1 - 0.0%
type_of_lesion2 - 0.0%
type_of_lesion3 - 0.0%

# Проверяем на выбросы

In [130]:
df_new = df_top.fillna(0)
df_new

,Surgery?,Age,Rectal_temperature,Abdomen,Abdominocentesis_appearance,type_of_lesion1,type_of_lesion2,type_of_lesion3
0,2.0,1,38.5,5.0,0.0,11300,0,0
1,1.0,1,39.2,2.0,2.0,2208,0,0
2,2.0,1,38.3,1.0,0.0,0,0,0
3,1.0,9,39.1,0.0,3.0,2208,0,0
4,2.0,1,37.3,0.0,0.0,4300,0,0
...,...,...,...,...,...,...,...,...
295,1.0,1,0.0,5.0,0.0,3205,0,0
296,2.0,1,37.2,4.0,3.0,2208,0,0
297,1.0,1,37.5,5.0,0.0,3205,0,0
298,1.0,1,36.5,4.0,3.0,2208,0,0
299,1.0,1,37.2,1.0,1.0,6112,0,0

In [80]:
df_new.describe()

,Surgery?,Age,Rectal_temperature,Abdomen,Abdominocentesis_appearance,type_of_lesion1,type_of_lesion2,type_of_lesion3
count,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000,300.000000
mean,1.393333,1.640000,30.534333,2.240000,0.916667,3657.880000,90.226667,7.363333
std,0.496094,2.173972,15.306684,2.147348,1.149257,5399.513513,649.569234,127.536674
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,1.000000,1.000000,37.200000,0.000000,0.000000,2111.750000,0.000000,0.000000
50%,1.000000,1.000000,38.000000,2.000000,0.000000,2673.500000,0.000000,0.000000
75%,2.000000,1.000000,38.500000,5.000000,2.000000,3209.000000,0.000000,0.000000
max,2.000000,9.000000,40.800000,5.000000,3.000000,41110.000000,7111.000000,2209.000000

# 1. Замечны выбросы в строке: 
Age(значения 9 не должно быть), Abdomen (значения 5 не должно быть)
# 2. Работаем с выбросами

In [74]:
q1 = df_new.Age.quantile(0.25)
q3 = df_new.Age.quantile(0.75)
iqr = q3 - q1
lower_bound = q1 - (1.5 * iqr) 
upper_bound = q3 + (1.5 * iqr)
remove_outliers = df_new[df_new.Age.between(lower_bound, upper_bound, inclusive=True)].sort_values('Surgery?')
remove_outliers

,Surgery?,Age,Rectal_temperature,Abdomen,Abdominocentesis_appearance,type_of_lesion1,type_of_lesion2,type_of_lesion3
132,0.0,1,38.0,5.0,2.0,3111,0,0
151,1.0,1,39.3,4.0,3.0,2207,0,0
169,1.0,1,0.0,5.0,0.0,3205,0,0
172,1.0,1,38.5,0.0,3.0,2206,0,0
173,1.0,1,0.0,4.0,2.0,2207,0,0
...,...,...,...,...,...,...,...,...
68,2.0,1,0.0,0.0,0.0,2124,0,0
194,2.0,1,37.9,1.0,0.0,0,0,0
195,2.0,1,38.0,0.0,0.0,0,0,0
184,2.0,1,38.2,1.0,0.0,0,0,0
0,2.0,1,38.5,5.0,0.0,11300,0,0

In [75]:
df_blowout = pd.concat([df_new, remove_outliers]).drop_duplicates(keep=False)
df_blowout

,Surgery?,Age,Rectal_temperature,Abdomen,Abdominocentesis_appearance,type_of_lesion1,type_of_lesion2,type_of_lesion3
3,1.0,9,39.1,0.0,3.0,2208,0,0
9,2.0,9,38.3,0.0,1.0,0,0,0
13,2.0,9,38.0,1.0,1.0,0,0,0
16,1.0,9,0.0,5.0,3.0,1400,0,0
23,1.0,9,38.3,0.0,0.0,3111,0,0
39,1.0,9,39.2,0.0,0.0,2113,0,0
41,2.0,9,39.0,0.0,0.0,9400,0,0
55,1.0,9,38.6,0.0,2.0,7111,0,0
74,1.0,9,0.0,0.0,0.0,11124,0,0
75,1.0,9,39.7,0.0,2.0,1400,0,0
82,1.0,9,38.1,0.0,0.0,3111,0,0
103,1.0,9,38.0,1.0,0.0,7111,0,0
109,1.0,9,38.4,0.0,2.0,2205,0,0
135,1.0,9,38.1,0.0,2.0,2205,0,0
191,2.0,9,0.0,0.0,0.0,7111,0,0
212,1.0,9,38.9,0.0,1.0,2124,0,0
227,1.0,9,0.0,0.0,2.0,9000,0,0
229,1.0,9,38.5,0.0,1.0,4205,3111,2209
244,1.0,9,38.2,0.0,1.0,9400,0,0
252,1.0,9,38.8,4.0,3.0,2208,0,0
255,1.0,9,38.8,0.0,0.0,7111,0,0
262,2.0,9,38.6,0.0,0.0,0,0,0
275,1.0,9,38.8,0.0,0.0,4207,0,0
287,2.0,9,39.5,0.0,0.0,0,0,0

# Выброс
Вот мы и нашли выброс по возрасту, если мы его удалим потеряем много данных, как вариант можно заменить на предыдушее значение.

In [99]:
df = pd.DataFrame(df_new)
df = df.replace(to_replace=9, value=2, regex=True)
df = df.replace(to_replace=5.0, value=0.0, regex=True)

In [129]:
df = df_new.replace([9], value=None, method='ffill')
df

,Surgery?,Age,Rectal_temperature,Abdomen,Abdominocentesis_appearance,type_of_lesion1,type_of_lesion2,type_of_lesion3
0,2.0,1,38.5,5.0,0.0,11300,0,0
1,1.0,1,39.2,2.0,2.0,2208,0,0
2,2.0,1,38.3,1.0,0.0,0,0,0
3,1.0,1,39.1,0.0,3.0,2208,0,0
4,2.0,1,37.3,0.0,0.0,4300,0,0
...,...,...,...,...,...,...,...,...
295,1.0,1,0.0,5.0,0.0,3205,0,0
296,2.0,1,37.2,4.0,3.0,2208,0,0
297,1.0,1,37.5,5.0,0.0,3205,0,0
298,1.0,1,36.5,4.0,3.0,2208,0,0
299,1.0,1,37.2,1.0,1.0,6112,0,0

# замена выброса 
так как выброс с значением 9 был только в одной колонке Age применил replace ко всему datafreme и замеменил на предыдушее значение

# Работаю над выбросам в столбце Abdomen
тут выброс ср значением 5.0

In [136]:
df1 = df.replace([5.0], value=None, method='bfill')
df1

,Surgery?,Age,Rectal_temperature,Abdomen,Abdominocentesis_appearance,type_of_lesion1,type_of_lesion2,type_of_lesion3
0,2.0,1,38.5,2.0,0.0,11300,0,0
1,1.0,1,39.2,2.0,2.0,2208,0,0
2,2.0,1,38.3,1.0,0.0,0,0,0
3,1.0,9,39.1,0.0,3.0,2208,0,0
4,2.0,1,37.3,0.0,0.0,4300,0,0
...,...,...,...,...,...,...,...,...
295,1.0,1,0.0,4.0,0.0,3205,0,0
296,2.0,1,37.2,4.0,3.0,2208,0,0
297,1.0,1,37.5,4.0,0.0,3205,0,0
298,1.0,1,36.5,4.0,3.0,2208,0,0
299,1.0,1,37.2,1.0,1.0,6112,0,0